[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
yapf = "*"
munch = "*"
mock = "*"
pytest-cov = "*"

[packages]
azure-mgmt-network = "*"
dnspython = "*"
boto3 = "*"
srelogging = "*"
requests = "*"
slackclient = "*"

[requires]
python_version = "3.7"
